:root {
  --color-navigation: #4d5ae5;
  --first-title-color: #2e2f42;
  --background-color: #ffffff;
  --background-heder: #ffffff;
  --background-footer: #2e2f42;
  --color-lik: #434455;
  --color-contact: #434455;
  --color-text: #434455;
}
.head-title-second {
  font-weight: 500;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--first-title-color);
}
.head-title-third {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}
.logo-style-text {
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-text);
}

body {
  color: #2e2f42;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration-line: none;
}

/*.site-body {
}*/

/*------HEADER-------*/
.header {
  background-color: var(--background-heder);
}

/*.header-navigation {
}*/

.header-logo {
  color: #4d5ae5;
}
.logo {
  color: #2e2f42;
}

/*.header-list {
}*/
/*.header-item {
}*/

.header-link {
  color: var(--color-lik);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-navigation);
}
a.selected {
  color: blue;
  text-decoration: none;
  pointer-events: none;
}

/*.header-contact {
}*/

.header-contact-link {
  color: var(--color-contact);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--color-navigation);
}

/*------HERO-------*/
.hero {
  background-color: #2e2f42;
}
.hero-text {
  font-weight: 500;
  font-size: 56px;
  line-height: calc(60 / 50);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*------DESCRIPTION-------*/
/*.descripion {
}*/
/*.description-list {
}*/

/*.descripion-item {
}*/
/*.description-title {
}*/

/*.description-after-title {
}*/

/*------ABOUT-------*/
/*.about {
}*/

.about-title {
  text-align: center;
}

/*.about-list {
}
/*.about-item {
}

/*------TEAM-------*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  text-align: center;
}

/*.team-list {
}*/

.team-item {
  background-color: #ffffff;
}
.team-name {
  text-align: center;
}
.team-text {
  text-align: center;
}

/*------MENU-------*/

.menu {
  background-color: var(--background-color);
}

/*.menu-list {
}*/
/*.menu-item {
}*/

.menu-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: #f4f4fd;
}
.menu-btn:hover,
.menu-btn:focus {
  color: #ffffff;
  background-color: #4d5ae5;
}

/*.menu-portfolio {
}*/
/*.menu-portfolio-item {
}*/
/*.menu-title {
}*/
/*.menu-after-title {
}*/

/*------FOOTER-------*/
.footer {
  background-color: var(--background-footer);
}
.footer-logo {
  color: #4d5ae5;
}
.logo-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #e7e9fc;
}
